<h1>Editing Friend Datum</h1>

<%= render 'form', friend_datum: @friend_datum %>

<%= link_to 'Show', @friend_datum,class:'btn btn-secondary' %>
<%= link_to 'Back', friend_data_path,class:'btn btn-dark' %>
